
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

/* Everythng Navbar */
header {
    position: sticky;
    top: 0;
    background-size: cover;
    width: 100%;
    z-index: 1000; 
}

::selection {
    background: #ebd99f;
    color: black;
}

.navbar {
    width: 100%;
    /* height: 100px; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
    z-index: 1000;
    background-color: white;
    backdrop-filter: blur(15px);
    box-shadow: #000 0px 0px 20px;
}

.navbar.transparent {
    background-color: transparent;
}

.navbar.dropdown-active {
    background-color: rgba(255, 255, 255, 0.493);
}

.logo a {
    font-family: 'Lexend Peta', cursive;
    text-decoration: none;
    color: black;
    transition: 1s;
}

.logo a:hover {
    cursor: pointer;
    text-shadow: #c7c7c7 0px 0px 20px;
    transition: 700ms;
}

.navbar .links a,
.dropdown_menu li a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    position: relative;
}

.navbar .links a::before,
.dropdown_menu li a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 50%;
    background-color: rgb(134, 87, 0);
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    transform: translateX(-50%);
}

.navbar .links a:hover,
.dropdown_menu li a:hover {
    color: rgb(151, 98, 0);
}

.navbar .links a:hover::before,
.dropdown_menu li a:hover::before {
    visibility: visible;
    width: 100%;
    left: 0;
    transform: translateX(0%);
}

.dropdown_menu li:hover {
    font-size: 1.5rem;
    background-color: rgb(231, 231, 231);
    transition: 1s;
}

li a .active {
    color: rgb(151, 98, 0);
}

.navbar .logo a {
    font-size: 1.5rem;
}

.navbar .logo a img {
    width: 95px;
    height: auto;
}

.navbar .links {
    display: flex;
    gap: 2rem;
    font-weight: 500;
    margin-bottom: 0;
}

.navbar .toggle_btn {
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.navbar .toggle_btn:hover {
    text-shadow: #d1d1d1 0px 0px 10px;
    transition: 500ms;
}

.navbar .book-now-btn 

.navbar .socials a #facebook {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    margin-left: 0.5rem;
    transition: 0.6s;
}

.navbar .socials a #x {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    margin-left: 0.5rem;
    transition: 0.6s;
}

.navbar .socials a #instagram {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    margin-left: 0.5rem;
    transition: 0.6s;
}

.navbar .socials a #facebook:hover,
.navbar .socials a:hover #x,
.navbar .socials a:hover #instagram {
    color: rgb(151, 98, 0);
    font-size: 1.5rem;
    text-decoration: none;
    text-shadow: #b6b6b6 0px 0px 3px;
}

.dropdown_menu .socials a #facebook {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    margin-left: 0.5rem;
}

.dropdown_menu .socials a #x {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    margin-left: 0.5rem;
}

.dropdown_menu .socials a #instagram {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    margin-left: 0.5rem;
}

.dropdown_menu .socials a:hover #facebook,
.dropdown_menu .socials a:hover #x,
.dropdown_menu .socials a:hover #instagram {
    color: rgb(151, 98, 0);
    transition: 0.4s;
}

#tooltip {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(0, 0, 0);
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 14px;
    pointer-events: none;
    display: none;
}

/* Dropdown Menu */
.dropdown_menu {
    position: fixed; /* Use fixed positioning */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for element's own dimensions */
    width: 80%; /* Set to desired width */
    max-width: 500px; /* Prevent the card from becoming too wide on large screens */
    height: 0;
    background-color: white;
    border-radius: 15px; /* Add border radius for the round corner thing */
    overflow: hidden;
    box-shadow: #000 0px 0px 20px;
    opacity: 0; /* Start invisible */
    visibility: hidden; /* Hide element */
}

.dropdown_menu.open {
    height: 80%; /* Set to desired height */
    max-height: 500px; /* Prevent the card from becoming too tall on large screens */
    animation: fadeIn 1s;
    opacity: 1; /* Make visible */
    visibility: visible; /* Show element */
}

body.no-scroll {
    overflow: hidden;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.dropdown_menu li {
    /* padding: 0.7rem; */
    padding: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .socials {
    display: flex;
    justify-content: center;
    /* gap: 1.5rem; */
    gap: 3rem;
    margin-top: 1.7rem;
}
/* End of Dropdown Menu */


/* Media Queries for Responsive Design */

@media (max-width: 992px) {
    /* for tablets */
    .navbar .links, .navbar .socials {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }
}

@media (max-height: 760px) and (min-height: 690px) {
    .dropdown_menu.open {
        margin-top: 15.5%;
    }
}

@media (max-height: 685px) {
    .dropdown_menu.open {
        margin-top: 14%;
    }
}

@media screen and (max-width: 992px) {
    .book-now {
        display: none;
    }
}
/* End of Media Queries */
/* End of Navbar */

/* Newsletter */
.newsletter-container {
    width: 100%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.newsletter-container h2 {
    margin-bottom: 15px;
    font-family: 'Lexend Peta', cursive;
    color: rgb(165, 123, 18);
    font-weight: 300;
}

.newsletter-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.newsletter-container .newsletter-p {
    font-size: 18px;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.newsletter-container form input[type="email"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    width: 60%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.newsletter-container form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(165, 123, 18);
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: 0.6s;
}

.newsletter-container form button:hover {
    background-color: rgb(151, 98, 0);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

/* Media query for screens larger than 600px */
@media (min-width: 600px) {
    .newsletter-container {
        padding: 50px;
    }

    .newsletter-container form {
        flex-direction: row;
        justify-content: center;
    }

    .newsletter-container form input[type="email"] {
        width: 30%;
    }
}
/* End of Newsletter */

/* Scrollbar Styling */
/* Width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(165, 123, 18); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #303030; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #686868;
}
/* End of Scrollbar Styling */

/* Booking Notif */
/* The snackbar - position it at the bottom and in the middle of the screen */
#booking-notif {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* Adjust this value as needed */
    transform: translateX(-50%); /* Adjust for horizontal centering */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#booking-notif.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
  
/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
/* End of Booking Notif */

/* Footer */
.container{
	max-width: 1170px;
	margin:auto;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: #1d1d1d;
    color: white;
    font-size: 12px;
	font-family: 'Lexend Peta';
	font-weight: 400;
}

.copyright p {
	margin: 0;
}

.copyright p a {
    position: relative;
    text-decoration: none;
	color: white;
	transition: color .3s;
}

.copyright p a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: -5px; /* Adjust this value to move the underline up or down */
    left: 50%;
    background: #fff; /* Change to desired underline color */
    transition: all 1s ease-in-out;
    transform: translateX(-50%);
}

.copyright p a:hover::after {
    visibility: visible;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.row {
	display: flex;
	flex-wrap: wrap;
}

ul {
	list-style: none;
}

.footer {
	background-color: #000000;
    padding: 70px 0;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.footer-col {
   width: 25%;
   padding: 0 15px;
}

.footer-col h4 {
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before {
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #c2ad80;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
}

.footer-col ul li a {
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #c9c9c9;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover {
	color: #ffffff;
	padding-left: 5px;
}

.footer-col .social-links a {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
	color: #24262b;
	background-color: #ffffff;
}

/* For mobile */
@media(max-width: 767px) {
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
	}
}
@media(max-width: 574px) {
  .footer-col{
    width: 70%;
	margin-left: 10px;
	}
}
/* End of Footer */
