/* Set the font family for the entire body */
body {
    font-family: 'Urbanist' !important;
}

/* Position the carousel at the top of the page and adjust the margin */
.carousel-bootstrap {
    top: 0;
    margin-top: -100px;
}

/* Set the width and height of the carousel container to fill the viewport */
.carousel-inner {
    width: 100%;
    height: 100vh;
}

/* Set the width and height of each carousel item to fill the viewport */
.carousel-item {
    width: 100%;
    height: 100vh;
}

/* Set the width and height of the images inside the carousel items to fill the viewport, while maintaining aspect ratio */
.carousel-item img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

/* Set the width and height of the videos inside the carousel items to fill the viewport, while maintaining aspect ratio */
.carousel-item video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.carousel-caption h1 {
    font-size: 2.5rem;
    color: #fff;
}

.carousel-caption p {
    font-size: 1.5rem;
    color: #fff;
}

.carousel-caption a {
    color: #fff;
    font-size: 3rem;
}