
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

header a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    position: relative;
}

header a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(134, 87, 0);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

header a:hover {
    color: rgb(151, 98, 0);
}

header a:hover::before {
    visibility: visible;
    width: 100%;
}


/* Everythng Navbar */
header {
    position: sticky;
    top: 0;
    background-image: url(../images/background-1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    z-index: 1000; 
}

.navbar {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
    z-index: 1000;
    background-color: white;
    backdrop-filter: blur(15px);
    box-shadow: #000 0px 0px 20px;
}

.navbar.transparent {
    background-color: transparent;
}

.navbar.dropdown-active {
    background-color: rgba(255, 255, 255, 0.493);
}

.logo {
    font-family: 'Lexend Peta', cursive;
}

.navbar .logo a {
    font-size: 1.5rem;
}

.navbar .logo a img {
    width: 95px;
    height: auto;
}

.navbar .links {
    display: flex;
    gap: 2rem;
    font-weight: 500;
    margin-bottom: 0;
}

.navbar .toggle_btn {
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.navbar .toggle_btn:hover {
    text-shadow: #d1d1d1 0px 0px 10px;
    transition: 500ms;
}

.navbar .socials a #facebook {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    margin-left: 0.5rem;
}

.navbar .socials a #x {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    margin-left: 0.5rem;
}

.navbar .socials a #instagram {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    margin-left: 0.5rem;
}

.navbar .socials a:hover #facebook,
.navbar .socials a:hover #x,
.navbar .socials a:hover #instagram {
    color: var(--accent-color);
    font-size: 1.5rem;
    transition: 0.4s;
}

.dropdown_menu .socials a #facebook {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    margin-left: 0.5rem;
}

.dropdown_menu .socials a #x {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    margin-left: 0.5rem;
}

.dropdown_menu .socials a #instagram {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    margin-left: 0.5rem;
}

.dropdown_menu .socials a:hover #facebook,
.dropdown_menu .socials a:hover #x,
.dropdown_menu .socials a:hover #instagram {
    color: var(--accent-color);
    /* font-size: 1.5rem; */
    transition: 0.4s;
}

#tooltip {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(0, 0, 0);
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 14px;
    pointer-events: none;
    display: none;
    font-family: var(--roboto-font);
}

/* Dropdown Menu */
.dropdown_menu {
    position: fixed; /* Use fixed positioning */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for element's own dimensions */
    width: 80%; /* Set to desired width */
    max-width: 500px; /* Prevent the card from becoming too wide on large screens */
    height: 0;
    background-color: white;
    border-radius: 15px; /* Add border radius */
    overflow: hidden;
    transition: height 0.8s linear;
    box-shadow: #000 0px 0px 20px;
    opacity: 0; /* Start invisible */
    visibility: hidden; /* Hide element */
}

.dropdown_menu.open {
    height: 80%; /* Set to desired height */
    max-height: 500px; /* Prevent the card from becoming too tall on large screens */
    animation: fadeIn 1s;
    opacity: 1; /* Make visible */
    visibility: visible; /* Show element */
}

body.no-scroll {
    overflow: hidden;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.dropdown_menu li {
    /* padding: 0.7rem; */
    padding: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .socials {
    display: flex;
    justify-content: center;
    /* gap: 1.5rem; */
    gap: 3rem;
    margin-top: 1.7rem;
}
/* End of Dropdown Menu */


/* Media Queries for Responsive Design */

@media (max-width: 992px) {
    /* Tablet */
    .navbar .links, .navbar .socials {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }
}

@media (max-width: 576px) { 
    /* Phone */
    .dropdown_menu {
        /* left: 2rem;
        width: unset; */
    }
}

@media (max-height: 685px) {
    .dropdown_menu.open {
        margin-top: 14%;
    }
}
/* End of Media Queries */
/* End of Navbar */

/* Scrollbar Styling */
/* Width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #696f8b; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #444c6d;
}