@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&family=Rock+Salt&display=swap');

:root {
    --color-white: #fff;
    --primary-color: #14213D;
    --accent-color: #92723e;
    --color-black: #000;
    --roboto-font: 'Roboto Slab', serif;
    --rocksalt-font: 'Rock Salt', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-black);
    font-size: 1rem;
}

a:hover {
    color: var(--accent-color);
    font-size: 1.3rem;
    transition: 0.7s;
}

/********* NAVIGATION BAR *********/

header {
    position: sticky;
    top: 0;
    /* padding: 0 2rem; */
    background-image: url(../images/background-1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    z-index: 1000; 
}

.navbar {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
    z-index: 1000;
    background-color: white;
    /* background-color: transparent; */
    /* background: rgba(255, 255, 255, 0.493); */
    backdrop-filter: blur(15px);
}

.navbar.transparent {
    background-color: transparent;
}

.navbar.dropdown-active {
    background-color: rgba(255, 255, 255, 0.493);
}

.logo {
    font-family: "Liu Jian Mao Cao", cursive;
}

.navbar .logo a img {
    width: 95px;
    height: auto;
}

.navbar .links {
    display: flex;
    gap: 2rem;
    font-weight: 500;
    margin-bottom: 0;
}

.navbar .toggle_btn {
    color: var(--color-black);
    /* color: white; */
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.navbar .toggle_btn:hover {
    color: var(--accent-color);
}

.navbar .socials a #facebook {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    margin-left: 0.5rem;
}

.navbar .socials a #github {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    margin-left: 0.5rem;
}

.navbar .socials a #linkedin {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    margin-left: 0.5rem;
}

.navbar .socials a #twitter {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    margin-left: 0.5rem;
}

.navbar .socials a:hover #facebook,
.navbar .socials a:hover #linkedin,
.navbar .socials a:hover #github,
.navbar .socials a:hover #twitter {
    color: var(--accent-color);
    font-size: 1.5rem;
    transition: 0.4s;
}

.dropdown_menu .socials a #facebook {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    margin-left: 0.5rem;
}

.dropdown_menu .socials a #github {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    margin-left: 0.5rem;
}

.dropdown_menu .socials a #linkedin {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    margin-left: 0.5rem;
}

.dropdown_menu .socials a #twitter {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    margin-left: 0.5rem;
}

.dropdown_menu .socials a:hover #facebook,
.dropdown_menu .socials a:hover #linkedin,
.dropdown_menu .socials a:hover #github,
.dropdown_menu .socials a:hover #twitter {
    color: var(--accent-color);
    font-size: 1.5rem;
    transition: 0.4s;
}

#tooltip {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(0, 0, 0);
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 14px;
    pointer-events: none;
    display: none;
    font-family: var(--roboto-font);
}

/********* DROPDOWN MENU *********/

.dropdown_menu {
    position: absolute;
    /* top: 90px; */
    width: 100%;
    height: 0;
    /* background: rgba(0,0,0,0.1); */
    /* background: rgba(255, 255, 255, 0.493); */
    /* backdrop-filter: blur(15px); */
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
    box-shadow: #000 0px 0px 20px;
}

.dropdown_menu.open {
    /* height: 350px; */
    height: 100vh;
}

.dropdown_menu li {
    /* padding: 0.7rem; */
    padding: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .socials {
    display: flex;
    justify-content: center;
    /* gap: 1.5rem; */
    gap: 3rem;
    margin-top: 1.7rem;
}

/********* RESPONSIVENESS DESIGN *********/

@media (max-width: 992px) {
    /********* TABLET *********/
    .navbar .links, .navbar .socials {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }
}

@media (max-width: 576px) { 
    /********* PHONE *********/
    .dropdown_menu {
        /* left: 2rem;
        width: unset; */
    }
}